registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir=40.6.0
cache-min=86400
git_fetch_with_cli=true
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
@electron:registry=https://registry.npmmirror.com
