registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir=37.6.1
cache-min=86400
# 1. 让一切 Git 依赖走 HTTPS
git_fetch_with_cli=true
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
# 2. 把 GitHub 换成国内镜像
registry=https://registry.npmmirror.com
@electron:registry=https://registry.npmmirror.com
